/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.width-90 {
    width:90% !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

input {
  padding-left : 10px !important;
}
textarea {
  padding: 10px !important;
}