<mat-tab-group>
    <mat-tab label="Daily Jobs"> <app-daily-jobs></app-daily-jobs> </mat-tab>
    <mat-tab label="Hourly Jobs"> <app-hourly-jobs></app-hourly-jobs> </mat-tab>
    <mat-tab label="Monthly Jobs"> <app-monthly-jobs></app-monthly-jobs> </mat-tab>
    <mat-tab label="Generic Jobs"> <app-generic-jobs></app-generic-jobs> </mat-tab>

    <mat-tab label="Record Processing Jobs"> <app-record-processor-jobs></app-record-processor-jobs> </mat-tab>
    <mat-tab label="Record Processing Daily Jobs"> <app-record-processor-daily-jobs></app-record-processor-daily-jobs> </mat-tab>
    <mat-tab label="Record Processing Hourly Jobs"> <app-record-processor-hourly-jobs></app-record-processor-hourly-jobs> </mat-tab>
    <mat-tab label="Record Processing Monthly Jobs"> <app-record-processor-monthly-jobs></app-record-processor-monthly-jobs> </mat-tab>
</mat-tab-group>